/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Para que la imagen de fondo no se desplace al hacer scroll */
    position: relative; /* Para que el pseudo-elemento esté posicionado correctamente */
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
    z-index: -1; /* Para que el pseudo-elemento esté detrás del contenido */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #555;
}

.carousel-section {
    background-color: #ffffff; /* Color de fondo del contenedor del carrusel */
    padding: 20px 0; /* Espacio alrededor del carrusel */
    background-image: url('/img/carrusel_fondo.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* La imagen cubrirá todo el contenedor */
    background-position: center; /* Centrar la imagen de fondo */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
}

.carousel {
    max-width: 50%; /* Ancho máximo del carrusel */
    margin: 0 auto; /* Centrar el carrusel */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.carousel-item img {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: auto; /* Ajuste automático de la altura */
    object-fit: contain; /* Ajustar la imagen sin cortarla */
}

.h2 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 20px 0;
}

.parrafo {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    text-align: center;
    margin: 10px 0; /* Espacio entre párrafos */
}

/* Estilos para el contenedor del párrafo */
.paragraph-container {
    background-color: #f0f0f0; /* Cambia este valor al color de fondo que prefieras */
    padding: 20px;
    border-radius: 10px; /* Añade esquinas redondeadas si lo deseas */
    margin: 20px auto; /* Centra el contenedor */
}

/* Estilo adicional para el último párrafo */
.no-background {
    background-color: transparent; /* Fondo transparente */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative; /* Para que el pie de página esté al final del contenido */
    width: 100%;
    margin-top: 20px; /* Espacio entre el contenido y el pie de página */
}
