/* Estilo general del body */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco transparente */
  }
  
  /* Encabezado */
  header {
    background-color: #f0f0f0;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  /* Navegación */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  /* Espacio para el header */
  .espacio-header {
    height: 40px; /* Altura del espacio */
  }
  
  /* Contenido principal */
  main {
    padding: 20px;
  }
  
  /* Sección de películas destacadas */
  .content h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .carousel {
    /* Estilos para el carrusel de películas */
  }
  
  .card {
    background-color: rgba(114, 112, 111, 0.5); /* Fondo gris transparente */
    text-align: center; /* Centrar texto dentro del card */
    padding: 20px;
    display: flex; /* Habilitar flexbox para el card */
    flex-direction: column; /* Ordenar elementos en columna */
    align-items: center; /* Centrar elementos horizontalmente */
  }
  
  .card img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px; /* Espacio entre la imagen y el nombre */
    width: 200px; /* Ajustar ancho si es necesario */
    height: auto; /* Conservar proporción de la imagen */
  }
  
  .card h2 {
    margin: 0; /* Eliminar margen superior por defecto */
    color: #333; /* Color de texto */
  }
  
  /* Pie de página */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    /* position: fixed;
  