/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    /* background-image: url('../img/resumen_peliculas_2018.jpg'); */
opacity: 1rem;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Para que la imagen de fondo no se desplace al hacer scroll */
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
    z-index: -1; /* Para que el pseudo-elemento esté detrás del contenido */
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #555;
}

.carousel {
    
    display: grid;
    grid-column-start: auto;
    text-align: center;
    padding: 20px 0;
}

.carousel h2, p {
    /* background-color: red important!; */
    margin-bottom: 20px;
}
.card{
    height: 30rem;
    width: 30rem;
}

.card img {
    width: 100%; /* Utilizar todo el ancho de la tarjeta */
    height: auto; /* Altura automática para mantener la proporción */
    max-height: 200px; /* Altura máxima de la imagen */
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    /* position: fixed; O position: absolute; */
    bottom: 0;
    width: 100%;
}

.carousel {
    height: 100vh;
}

/* Ajuste para que las imágenes del carrusel ocupen toda la altura */
.carousel-item img {
    height: 50%; /* 100% de la altura del contenedor */
    width: auto; /* Restablecer el ancho automático */
    max-width: 100%; /* 100% del ancho del contenedor */
    object-fit: contain; /* Ajustar la imagen sin cortarla */
}

.h2 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center
    }

.parrafo {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    text-align: center
}
